@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'),
    url('../assets/fonts/Metropolis-Regular.otf') format('opentype');
}

* {
  font-family: Metropolis, Arial, Helvetica, sans-serif;
}

#hero {
  background-image: url('../assets/images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url('../assets/images/mobile/image-hero.jpg');
    background-position: center;
  }
}
